@font-face {
    font-family: 'Figtree';
    src: url(/font/Figtree-VariableFont_wght.woff2) format('woff2');
    font-weight: 500 800;
    font-style: normal;
}

body {
    background-color: rgb(244, 208, 78);
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Figtree', sans-serif;
}

.card {
    width: 384px;
    height: 522px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(17, 17, 17);
    border-radius: 20px;
    box-shadow: 8px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin: 0;
}

article {
    height: 100%;
    width: 100%;
}

.image {
    width: 336px;
    height: 200px;
}

.image img {
    border-radius: 10px;
}

.text {
    width: 336px;
    height: 194px;
}

.avatar {
    width: 129px;
    height: 32px;
    
}

.avatar img {
    width: 32px;
    height: 32px;
}

.avatar figcaption {
   text-wrap: nowrap;
}

figure {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

.yellow_bg, h1, figcaption {
    font-weight: 800;
}

h1 {
    transition: color 0.15s ease-out 5ms
}

h1:hover {
    color: rgb(244, 208, 78)
}

.yellow_bg {
    width: 82px;
    height: 29px;
    background-color: rgb(244, 208, 78);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-size: 14px;
}

.description {
    color: rgb(107, 107, 107)
}


